h1 {
    font-family: 'Arvo', serif;
    font-size: 55px;
    font-weight: 450;
    letter-spacing: 2px;
    color: rgb(56, 114, 214);
}

#weatherInfo {
    display: none;
}

.navbar {
    height: 150px!important;
}

#cityName,
#uvColor,
li {
    color: #13495d!important;
}

#results,
#cityName,
.card {
    background-color: #769aa8!important;
}

#results {
    height: 100vh;
}

#fiveDay .card {
    border: 1.5px solid whitesmoke!important;
}

#searchHist li {
    background-color: #7bb3ac;
    color:rgb(56, 114, 214)!important;
}

p {
    color: #d0d839;
}

h1, h2, h3, h4, h5 {
    color: rgb(139, 236, 248);
}

body {
    font-family: 'Arvo', serif;
    background-color: #848484;
}